<div class="gamble-model" *ngIf="isGamble">
  <mc-gamble (close)="onCloseGamble($event)" [users]="userMajorList"></mc-gamble>
</div>
<div class="wrapper">
  <section class="major-group">
    <mc-card class="md-25" 
      (click)="onSelectMajor('CT')"
      [img]="'/assets/images/img-ct.jpg'"
      [title]="'Web Content'"
      [amount]="interviewGroup?.ct.length"
      [active]="selectMajor == 'CT'"></mc-card>
    <mc-card class="md-25" 
      (click)="onSelectMajor('DS')"
      [img]="'/assets/images/img-ds.jpg'"
      [title]="'Web Design'"
      [amount]="interviewGroup?.ds.length"
      [active]="selectMajor == 'DS'"></mc-card>
    <mc-card class="md-25" 
      (click)="onSelectMajor('MK')"
      [img]="'/assets/images/img-mk.jpg'"
      [title]="'Web Marketing'"
      [amount]="interviewGroup?.mk.length"
      [active]="selectMajor == 'MK'"></mc-card>
    <mc-card class="md-25" 
      (click)="onSelectMajor('PG')"
      [img]="'/assets/images/img-pg.jpg'"
      [title]="'Web Programming'"
      [amount]="interviewGroup?.pg.length"
      [active]="selectMajor == 'PG'"></mc-card>
  </section>
  <section class="list-section">
    <section class="lucky-user">
        <div class="img">
          <img src="/assets/images/dice.png" class="pointer" (click)="onOpenGamble()"/>
        </div>
        <div class="title">
          เกมส์สุ่มผู้โชคดี
        </div>
    </section>
    <section class="search">
      <mc-search [major]="selectMajor" [users]="userMajorListForSearch" (search)="onSearchUsers($event)"></mc-search>
    </section>
    <section class="user-list">
      <mc-user *ngFor="let user of userMajorList" [user]="user"></mc-user>
    </section>
  </section>
</div>
<div class="footer">
  Power by passakorn@darklink
</div>