<div class="wrapper">
  <section class="major-group">
    <mc-card class="md-25" 
      (click)="onSelectMajor('CT')"
      [img]="'/assets/images/img-ct.jpg'"
      [title]="'Web Content'"
      [amount]="interviewGroup?.ct.length"></mc-card>
    <mc-card class="md-25" 
      (click)="onSelectMajor('DS')"
      [img]="'/assets/images/img-ds.jpg'"
      [title]="'Web Design'"
      [amount]="interviewGroup?.ds.length"></mc-card>
    <mc-card class="md-25" 
      (click)="onSelectMajor('MK')"
      [img]="'/assets/images/img-mk.jpg'"
      [title]="'Web Marketing'"
      [amount]="interviewGroup?.mk.length"></mc-card>
    <mc-card class="md-25" 
      (click)="onSelectMajor('PG')"
      [img]="'/assets/images/img-pg.jpg'"
      [title]="'Web Programming'"
      [amount]="interviewGroup?.pg.length"></mc-card>
  </section>
  <section class="search">
    <mc-search [major]="selectMajor" [users]="userMajorListForSearch" (search)="onSearchUsers($event)"></mc-search>
  </section>
  <section class="user-list">
    <mc-user *ngFor="let user of userMajorList" [user]="user"></mc-user>
  </section>
</div>