$light-gray: #eff0f1;
$light-gray2: #BFBFBF;
$light-gray3: #e6e6e6;
$light-gray4: #e3e3e3;

$bright-gray: #cccccc;
$dark-gray: #989898;
$darker-gray: #999999;

//custom color
$white: #ffffff;
$gray: #949494;
$brown: #614e47;
$bright-pink: #ff95c9;
$green-blue: #32cdae;
$pink: #ff807d;
$orange: #ff9a50;
$dim-orange:  #fc9138;
$yellow: #f9ed32;
$light-green: #8cc53f;
$green-yellow: #8dc63f;
$dark-green-yellow: #9cc965;
$dark-green: #74a822;
$shamrock-blue: #32ceb0;
$black: #1B0707;
$bright-blue: #5baeee;
$bright-pink: #ff95c9;

$facebook: #4267b2;
$twitter: #00aced;